img {
  width: 500px;
}

h1 {
  padding-top: var(--medium);
  padding-bottom: var(--large);
}

.a-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--small);
}

@media (min-width: 750px) {
  h1 {
    padding-top: var(--large);
    padding-bottom: var(--extra-large);
  }

  .about_grid {
    display: grid;
    gap: var(--large);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .about_grid :last-child {
    grid-column: 1;
    grid-row: 2;
  }

  .about_grid :nth-child(3) {
    grid-column: 2;
  }
}
