.about-img {
  width: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 5px var(--pink);
  margin-block: var(--medium);
}

h1 {
  padding-top: var(--medium);
  padding-bottom: var(--large);
  color: var(--red);
}

a {
  font-family: "heading-font";
  font-size: var(--p-font-size);
  text-align: center;
}

.a-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--small);
  padding-block: var(--extra-large);
}

@media (min-width: 800px) {
  h1 {
    padding-top: var(--large);
    padding-bottom: var(--extra-large);
  }

  .about-img {
    margin-block: auto;
  }

  .about_grid {
    display: grid;
    gap: var(--extra-large);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .about_grid :last-child {
    grid-column: 1;
    grid-row: 2;
  }

  .about_grid :nth-child(3) {
    grid-column: 2;
  }
}
