/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* 3. Allow percentage-based heights in the application */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

html {
  background: rgb(253, 251, 254);
  background: linear-gradient(90deg, rgba(253, 251, 254, 1) 0%, rgba(255, 236, 244, 1) 95%);
  height: fit-content;
}

/* Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
	6. Make all font sizes equal
*/
body {
  -webkit-font-smoothing: antialiased;
  font: inherit;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 7. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}
/* 8. Avoid text overflows and set max line lenght and height*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  max-width: 65ch;
  line-height: 1.6;
  /* padding-top: 0.2rem; */
}

/* 9. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* 10. Remove default link styling */
a,
ul {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

/* 11. Make footer stick to bottom */
/* body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
} */

/* 12. Import fonts */
@font-face {
  font-family: "body-font";
  src: url(/fonts/body-font.woff2);
}

@font-face {
  font-family: "link-font";
  src: url(/fonts/link-font.woff2);
}

@font-face {
  font-family: "heading-font";
  src: url(/fonts/heading-font.woff2);
}

:root {
  /* Farver */
  --red: rgb(177, 37, 63);
  --pink: #f5c7dc;
  --black: hsl(231, 25%, 11%);
  --white: hsl(280, 60%, 99%);
  --card-bg: hsl(340, 100%, 96%);

  /* Skriftstørrelser */
  --h1-font-size: clamp(2rem, 1.5146rem + 2.0712vw, 4rem);
  --h2-font-size: clamp(1.5rem, 1.0146rem + 2.0712vw, 3.5rem);
  --h3-font-size: clamp(1.25rem, 0.918rem + 1.4164vw, 2.6rem);
  --h4-font-size: clamp(1rem, 0.6706rem + 1.5059vw, 1.6rem);
  --h5-font-size: clamp(1.25rem, 1.19rem + 0.2561vw, 1.5rem);
  --p-font-size: clamp(0.9rem, 0.9697rem + 0.1294vw, 1.125rem);
  --psmall-font-size: clamp(0.7rem, 0.4353rem + 0.7529vw, 1rem);
  --menu-links-font-size: clamp(2.6rem, 2.2311rem + 1.5738vw, 4.1rem);

  /* Spacing */
  --extra-small: 0.5rem;
  --small: 1rem;
  --medium: 2rem;
  --large: 3rem;
  --extra-large: 5rem;
}

/* Sætte font-sizes og font-family */

h1,
h2,
h3,
h4 {
  font-family: "heading-font";
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

p {
  font-size: var(--p-font-size);
  font-family: "body-font";
  margin-top: 0.3rem;
}

a,
button {
  font-family: "link-font";
  font-size: var(--body-font-size);
}

/* svg størrelse */
svg {
  height: auto;
  width: clamp(1.25rem, 1.0983rem + 0.6472vw, 1.875rem);
}

/* streg styling */
hr {
  border-top: 2px solid var(--pink);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}
/* main-container til content */
.main-container {
  padding-inline: var(--extra-small);
  max-width: 1200px;
  margin-inline: auto;
}

/* Alle animationer skal ind i den her media query. Den gør at det kun er folk der har slået animationer til i deres styresystem kan se dem*/
@media (prefers-reduced-motion: no-preference) {
  .event-img.hidden {
    opacity: 0;
    transform: scale(0.8);
  }
  @keyframes banner-animation {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }
}
