---
import "../styles/style.css";
import "../styles/about.css";
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <Header/>
    <main class="main-container">
      <h1>About us</h1>
      <section class="about_grid">
        <div>
          <p>
            The Committee of the Copenhagen Sakura Festival was established in February, 2008 to arrange the cultural event Copenhagen Sakura Festival with the help of the Japanese Embassy in Denmark, the Municipality of Copenhagen and other Japan-related cultural and private
            organizations.
          </p>
          <p>
            The original idea came from the noble deed of donation of 200 cherry blossom (Sakura) trees by Mr. Seiichi Takaki, President of Andersen Institute of Bread & Life, the holding company of Andersen Group of Hiroshima City, and the employees of the company. The donated
            trees were planted in Langelinie Park. Mr. Takaki is Honorary Consul of Denmark and he was appointed to the honorable position of ambassador of H.C. Andersen on the occasion of the 200th anniversary of H.C. Andersen’s birthday in 2005. The donated Sakura trees were
            planted in Langelinie Park.
          </p>
        </div>
        <img class="about-img" src="../public/img/about1.webp" alt="visitors on the lawn" />
        <div>
          <p>
            In Japan people love and admire Sakura blossom and almost everybody go out to enjoy its beauty together with families, friends, lovers, office-mates and so forth wherever and whenever Sakura bloom. Once a year Sakura connects people and people meet people under Sakura
            trees. It is also the utmost and fundamental goal of the Committee.
          </p>
          <br />
          <p>
            The Committee has an honor to have Honorable Chairpersons H.E. the Ambassador of Japan to Denmark and Lord Mayor of the City of Copenhagen. The Committee consists of representatives of Japan related business, cultural and private organizations, the Municipality of
            Copenhagen and the Japanese Embassy.
          </p>
        </div>
        <img class="about-img" src="../public/img/about2.webp" alt="group photo" />
      </section>
      <section class="a-links">
        <a href="#">Rules of the Copenhagen Sakura Festival Committee</a>
        <a href="#">Sakura Festival Lottery Statement of the Account 2018 (PDF)</a>
        <a href="#">Sakura Festival Lottery Statement of the Account 2019 (PDF)</a>
      </section>
    </main>
    <Footer/>
  </body>
</html>
