---
import "../styles/style.css";
import { Debug } from "astro/components";
import EventSlot from "../components/EventSlot.astro";

const { header, location, time, day } = Astro.props;

const url =
  "https://fyoibrnkhfthmeiffltn.supabase.co/rest/v1/Events?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5b2licm5raGZ0aG1laWZmbHRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODAxNDAsImV4cCI6MTk5NDM1NjE0MH0.N4_YxpgdHxnVlLKlbxyFb2MT2AM-4wqZt0LIP3E31To";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5b2licm5raGZ0aG1laWZmbHRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODAxNDAsImV4cCI6MTk5NDM1NjE0MH0.N4_YxpgdHxnVlLKlbxyFb2MT2AM-4wqZt0LIP3E31To",
  },
};

const response = await fetch(url, options);
const data = await response.json();
---

<details>
  <summary>Debugger</summary>
  <Debug {data} />
</details>
<img class="event-img" src="./img/event-test.webp" alt="" />
<div class="main-container"></div>

<style>
  .event-img {
    width: 100%;
    height: 50dvh;
    height: 50vh;
    object-fit: cover;
    transform: scale(1);
    transition: opacity 200ms ease-out, transform 200ms;
  }
  svg {
    height: auto;
    width: clamp(3.125rem, 2.8216rem + 1.2945vw, 4.375rem);
  }

  #favorite-icon:hover path {
    fill: var(--red);
    d: path("m12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53L12 21.35Z");
  }
  button {
    background-color: transparent;
    outline-color: transparent;
    border: transparent;
    cursor: pointer;
  }

  .content {
    width: fit-content;
  }

  h1 {
    margin-block: var(--medium);
  }

  .flex-space-between {
    display: flex;
    justify-content: space-between;
    place-items: center;
  }

  .container {
    margin-block: var(--small);
  }

  p {
    margin-top: var(--large);
  }
</style>

<script>
  const element = document.querySelector("img");
  let lastScrollPosition = 0;

  window.addEventListener("scroll", function () {
    const scrollPosition = window.pageYOffset;
    const elementPosition = element.offsetTop;

    if (window.innerWidth < 1000) {
      // Only apply animation on screens wider than 1000px
      if (scrollPosition > elementPosition - window.innerHeight / 2) {
        element.classList.add("hidden");
      } else {
        element.classList.remove("hidden");
      }

      if (scrollPosition < lastScrollPosition) {
        element.classList.remove("hidden");
      }
    }

    lastScrollPosition = scrollPosition;
  });
</script>
