---
import "../styles/style.css";
import { Debug } from "astro/components";

const url =
  "https://fyoibrnkhfthmeiffltn.supabase.co/rest/v1/Events?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5b2licm5raGZ0aG1laWZmbHRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODAxNDAsImV4cCI6MTk5NDM1NjE0MH0.N4_YxpgdHxnVlLKlbxyFb2MT2AM-4wqZt0LIP3E31To";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5b2licm5raGZ0aG1laWZmbHRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODAxNDAsImV4cCI6MTk5NDM1NjE0MH0.N4_YxpgdHxnVlLKlbxyFb2MT2AM-4wqZt0LIP3E31To",
  },
};

const response = await fetch(url, options);
const data = await response.json();
---

<html lang="en">
  <details>
    <summary>Debugger</summary>
    <Debug {data} />
  </details>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="test">
      <h1>Sakura Festival</h1>
      <h2>Sakura Festival</h2>
      <h3>Sakura Festival</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, accusamus error et quisquam eligendi iure odio molestiae quaerat quo earum. Libero, iusto molestias eveniet aperiam recusandae placeat! Dolor molestiae omnis molestias, totam adipisci dolore rem qui
        laudantium eaque, quos sed non. Sequi omnis repudiandae aperiam animi hic aut voluptatibus recusandae?
      </p>
      <a href="#">Click here to read more</a>
    </div>
  </body>


</html>
