---
import "../styles/style.css";
import { Debug } from "astro/components";
import LocationSlot from "../components/LocationSlot.astro";
import TimeSlot from "../components/TimeSlot.astro";

const url =
  "https://fyoibrnkhfthmeiffltn.supabase.co/rest/v1/Events?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5b2licm5raGZ0aG1laWZmbHRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODAxNDAsImV4cCI6MTk5NDM1NjE0MH0.N4_YxpgdHxnVlLKlbxyFb2MT2AM-4wqZt0LIP3E31To";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5b2licm5raGZ0aG1laWZmbHRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODAxNDAsImV4cCI6MTk5NDM1NjE0MH0.N4_YxpgdHxnVlLKlbxyFb2MT2AM-4wqZt0LIP3E31To",
  },
};

const response = await fetch(url, options);
const data = await response.json();
const main = [];
const second = [];
const lawn = [];
data.forEach((element) => {
  if (element.location === "Main stage") {
    main.push(element);
  } else if (element.location === "Second stage") {
    second.push(element);
  } else {
    lawn.push(element);
  }
});
---

<div class="main">
  {
    main.map((stage) => {
      return <p>{stage.name}</p>;
    })
  }
</div>
<div class="second">
  {
    second.map((stage) => {
      return <p>{stage.name}</p>;
    })
  }
</div>
<div class="lawn">
  {lawn.map((stage) => <p>{stage.name}</p>)}
</div>
