---
---

<section class="daySwicther">
  <button class="active" data-filter="Saturday">Saturday</button>
  <button data-filter="Sunday">Sunday</button>
</section>

<script>
  let filter = "Saturday";
  doFiltering();
  document.querySelectorAll("button").forEach((btn) => {
    btn.addEventListener("click", btnClick);
  });

  function btnClick(evt) {
    filter = evt.target.dataset.filter;
    console.log(filter);
    doFiltering();
    document.querySelectorAll("button").forEach((btn) => {
      if (btn.dataset.filter === filter) {
        btn.classList.add("active");
      } else {
        btn.classList.remove("active");
      }
    });
  }

  function doFiltering() {
    document.querySelectorAll("article").forEach((element) => {
      console.log(element.classList.contains(filter));
      if (element.classList.contains(filter) === true) {
        element.classList.remove("hide");
      } else {
        element.classList.add("hide");
      }
    });
  }
</script>

<style>
  button {
    border: 1px solid var(--black);
    padding: 0.9rem 0;
    border-radius: 37px;
    -webkit-text-stroke: 0;
    color: var(--black);
    font-size: var(--h4-font-size);
    cursor: pointer;
    font-family: "heading-font";
    width: 11rem;
  }
  button.active.astro-IVP77FW4 {
    background-color: var(--red);
    color: var(--card-bg);
    -webkit-text-stroke: 0;
    border: none;
  }

  section.daySwicther.astro-IVP77FW4 {
  }
</style>
