---
---

<h1>Booths</h1>
<div class="wrapper">
  <button class="active" data-filter="Restaurant">Restaurant</button>
  <div class="divider"></div>
  <button data-filter="Shops">Shops</button>
  <div class="divider"></div>
  <button data-filter="Café">Café</button>
  <div class="divider"></div>
  <button data-filter="Hobby">Hobby</button>
  <div class="divider"></div>
  <button data-filter="Other">Other</button>
  <div class="divider"></div>
  <button data-filter="All">All Booths</button>
</div>

<script>
  let filter = "Restaurant";
  doFiltering();
  document.querySelectorAll("button").forEach((btn) => {
    btn.addEventListener("click", btnClick);
  });

  function btnClick(evt) {
    filter = evt.target.dataset.filter;
    console.log(filter);
    doFiltering();
    document.querySelectorAll("button").forEach((btn) => {
      if (btn.dataset.filter === filter) {
        btn.classList.add("active");
      } else {
        btn.classList.remove("active");
      }
    });
  }

  function doFiltering() {
    document.querySelectorAll("article").forEach((element) => {
      console.log(element.classList.contains(filter));
      if (element.classList.contains(filter) === true || filter === "All") {
        element.classList.remove("hide");
      } else {
        element.classList.add("hide");
      }
    });
  }
</script>

<style>
  .active {
    background-color: hsl(349, 65%, 42%);
    color: white;
  }

  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    color: #af253e;
  }

  button {
    border-radius: 12px;
    padding: 1em 2em 1em 2em;
    font-family: "heading-font";
    font-size: clamp(0.9rem, 0.9697rem + 0.1294vw, 1.125rem);
  }

  .wrapper {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 4rem;
  }

  .divider {
    width: 5px;
    height: auto;
    display: inline-block;
  }
</style>
