---
import Countdown from "./Countdown.astro";
---

<header>
  <div class="banner-wrapper">
    <div class="banner-content">
      <p>FREE ENTRANCE &#x2022;</p>
      <p>LANGELINIE PARKEN &#x2022;</p>
      <p>22/4 - 23/4 &#x2022;</p>
      <p>11.00 - 16.00 &#x2022;</p>
      <p>FREE ENTRANCE &#x2022;</p>
      <p>LANGELINIE PARKEN &#x2022;</p>
      <p>22/4 - 23/4 &#x2022;</p>
      <p>11.00 - 16.00 &#x2022;</p>
      <p>FREE ENTRANCE &#x2022;</p>
      <p>LANGELINIE PARKEN &#x2022;</p>
      <p>22/4 - 23/4 &#x2022;</p>
      <p>11.00 - 16.00 &#x2022;</p>
      <p>FREE ENTRANCE &#x2022;</p>
      <p>LANGELINIE PARKEN &#x2022;</p>
      <p>22/4 - 23/4 &#x2022;</p>
      <p>11.00 - 16.00 &#x2022;</p>
      <p>FREE ENTRANCE &#x2022;</p>
      <p>LANGELINIE PARKEN &#x2022;</p>
      <p>22/4 - 23/4 &#x2022;</p>
      <p>11.00 - 16.00 &#x2022;</p>
      <p>FREE ENTRANCE &#x2022;</p>
      <p>LANGELINIE PARKEN &#x2022;</p>
      <p>22/4 - 23/4 &#x2022;</p>
      <p>11.00 - 16.00 &#x2022;</p>
      <p>FREE ENTRANCE &#x2022;</p>
      <p>LANGELINIE PARKEN &#x2022;</p>
      <p>22/4 - 23/4 &#x2022;</p>
      <p>11.00 - 16.00 &#x2022;</p>
      <p>FREE ENTRANCE &#x2022;</p>
      <p>LANGELINIE PARKEN &#x2022;</p>
      <p>22/4 - 23/4 &#x2022;</p>
      <p>11.00 - 16.00 &#x2022;</p>
    </div>
  </div>

  <div class="topnav">
    <div class="logo">
      <a href="/" aria-label="Hjem"><img class="logo" src="../../icons/logo.svg" alt="logo" /></a>
    </div>
    <Countdown />
    <ul id="myLinks">
      <a href="/schedule">
        <li>Schedule</li>
      </a>
      <a href="/booths">
        <li>Booths</li>
      </a>
      <!-- <div id="heart">
        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10.1 15.55L10 15.65L9.89 15.55C5.14 11.24 2 8.39 2 5.5C2 3.5 3.5 2 5.5 2C7.04 2 8.54 3 9.07 4.36H10.93C11.46 3 12.96 2 14.5 2C16.5 2 18 3.5 18 5.5C18 8.39 14.86 11.24 10.1 15.55ZM14.5 0C12.76 0 11.09 0.81 10 2.08C8.91 0.81 7.24 0 5.5 0C2.42 0 0 2.41 0 5.5C0 9.27 3.4 12.36 8.55 17.03L10 18.35L11.45 17.03C16.6 12.36 20 9.27 20 5.5C20 2.41 17.58 0 14.5 0Z"
            fill="#AF253E"></path>
        </svg>
        <li>My schedule</li>
      </div> -->
      <a href="/about">
        <li>About Sakura</li>
      </a>
    </ul>
    <button id="burger" aria-controls="primary-navigation" aria-label="Menu" aria-expanded="false">
      <span class="hamburger" aria-hidden="true"></span>
    </button>
  </div>

  <style>
    header {
      position: sticky;
      top: 0;
      z-index: 5000;
    }

    @media (max-width: 1200px) {
      header {
        top: 0px;
      }
    }

    .banner-wrapper {
      max-width: 100%;
      overflow: hidden;
      margin: auto;
      background-color: var(--red);
      padding-block: 0.3rem;
      color: white;
    }

    .banner-content {
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      animation: banner-animation 100s linear infinite;
      letter-spacing: 0.9px;
    }

    .banner-content p {
      display: inline-block;
      font-family: "heading-font";
      font-size: var(--p-font-size);
    }

    #myLinks {
      position: fixed;
      top: clamp(2.8125rem, 2.767rem + 0.1942vw, 3rem);
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transform: translateX(-110%);
      width: 100vw;
      height: 100vh;
      background-color: var(--pink);
      z-index: 10;
      transition: transform 0.3s ease-out;
    }

    #myLinks.shown {
      transition: transform 0.3s ease-in;
      transform: translateX(0%);
    }

    #burger {
      background: transparent;
      border: none;
      min-width: 44px;
      min-height: 44px;
      cursor: pointer;
      z-index: 1000;
    }

    .hamburger {
      display: block;
      position: relative;
    }

    .hamburger::before {
      content: "";
      position: absolute;
      left: 0;
    }

    .hamburger,
    .hamburger::before,
    .hamburger::after {
      width: 1.8em;
      height: 3px;
      background: var(--red);
      margin-top: 8px;

      transition: transform 0.3s cubic-bezier(0, 0.01, 0.24, 1);
    }

    .hamburger::before {
      bottom: 8px;
    }

    .pressed .hamburger {
      transform: rotate(-45deg);
    }

    .pressed .hamburger::before {
      transform: rotate(90deg) translate(8px);
    }

    div.topnav.astro-5NRTTP2S {
      display: flex;
      justify-content: space-between;
      padding: var(--small) var(--medium);
      position: relative;
    }

    img.logo.astro-5NRTTP2S {
      width: clamp(3.25rem, 2.6432rem + 2.589vw, 5.75rem);
      z-index: 1000;
      position: relative;
    }

    #myLinks.shown {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: #f5c7dc;
    }

    span.hamburger.astro-5NRTTP2S {
      z-index: 2;
    }

    li.astro-5NRTTP2S {
      font-size: var(--menu-links-font-size);
      font-family: heading-font;
      text-transform: uppercase;
      color: var(--black);
      cursor: pointer;
      transition: 150ms ease-in-out;
    }

    li:hover {
      -webkit-text-stroke: 2px var(--red);
      color: var(--red);
    }

    #heart svg {
      width: 40px;
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(-110%, -50%);
    }

    #heart {
      position: relative;
    }
  </style>

  <script>
    // Lav variablen "btn", der henviser til ".toggle-btn"
    const btn = document.querySelector("#burger");
    // Lav variablen "menu", der henviser til ".nav-links"
    const menu = document.querySelector("#myLinks");

    function toggleMenu() {
      menu.classList.toggle("shown");
      btn.classList.toggle("pressed");

      const menuShown = menu.classList.contains("shown");
      if (menuShown) {
        document.body.style.overflowY = "hidden";
        console.log(menuShown);
      } else {
        document.body.style.overflowY = "auto";
        console.log(menuShown);
      }
    }

    // Tilføj et klik-event til "btn", der sætter toggleMenu-funktionen i gang
    btn.addEventListener("click", toggleMenu);

    /**_ */
    var logo = document.querySelector(".logo");

    window.addEventListener("scroll", function () {
      var rotation = window.pageYOffset / 12;
      logo.setAttribute("style", "transform: rotate(" + rotation + "deg)");
    });

    const header = document.querySelector("header");
    const breakpoint = 400; // adjust this value as needed

    window.addEventListener("scroll", () => {
      if (window.pageYOffset >= breakpoint) {
        header.classList.add("fixed");
      } else {
        header.classList.remove("fixed");
      }
    });
  </script>
</header>
