---

---
<!-- <header class="header_flex">
    <div class="logo">
        <a href="index.astro" aria-label="Hjem"><img class="logo" src="../icons/logo.svg" alt="logo"></a>
    </div>
    
    <div class="toggle-menu-container">
        <button class="toggle-btn">
            <span class="hamburger"></span>
        </button>
        <div class="pressed-menu">
            <a class="nav-link" href="about">
                ABOUT US
            </a>
            <a class="nav-link" href="schedule">
                SCHEDULE
            </a>
            <a class="nav-link" href="booths">
                BOOTHS
            </a>
            <a class="nav-link" href="#">
                FAVOURITES
            </a>
        </div>
    </div>
</header> -->

<header class="header_flex">
    <div class="logo">
        <a href="index.astro" aria-label="Hjem"><img class="logo" src="../icons/logo.svg" alt="logo"></a>
    </div>
    <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
            <a href="#"><li>ABOUT US</li></a>
            <a href="#"><li>SCHEDULE</li></a>
            <a href="#"><li>BOOTHS</li></a>
            <a href="#"><li>FAVOURITES</li></a>
        </ul>
    </div>
</header>

<style>
    .header_flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: var(--xl-spacing);
}
    .logo {
        max-height: 75px;
    }

    header {
        padding: var(--medium);
        max-width: 1400px;
        margin-inline: auto;
    }

    #menuToggle {
        position: relative;
        display: block;
        left: 50px;
        top: 50px;

    z-index: 1;
}

#menuToggle a {  
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: var(--red);
}

#menuToggle input {
    display: block;
    height: 32px;
    width: 40px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    width: 33px;
    display: block;
    margin-bottom: 5px;
    height: 4px;
  /* position: relative; */

    background: var(--red);
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
    transform: rotate(45deg) translate(-2px, -1px);
    opacity: 1;
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    width: 300px;
    position: absolute;
    padding: 50px;
    margin: -100px 0 0 -50px;
    padding-top: 125px;

    transform: translate(-500%, 0);
    transform-origin: 0% 0%;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
    font-size: 22px;
    padding: 10px 0;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
    transform: none;
}
</style>