---
import Footer from "./Footer.astro";
import Header1 from "./Header1.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home</title>
  </head>
  <body>
    <Header1 />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    overflow-x: hidden;
  }
</style>
