---
import "../styles/style.css";
---

<div class="sponsor">
  <h2>Sponsors</h2>
</div>
<div class="sponsor_logo">
  <img src="./img/kommune.webp" class="kommune" alt="Københavns Kommune" />
  <img src="./img/toyota.webp" alt="Toyota" />
  <img src="./img/bakery.webp" class="andersen" alt="Andersen Bakery" />
  <img src="./img/dnp.webp" class="dnp" alt="DNP" />
  <img src="./img/nec.webp" alt="NEC" />
  <img src="./img/torm.webp" alt="TORM" />
  <img src="./img/fuji.webp" alt="FUJI FILM" />
  <img src="./img/canon.webp" alt="CANON" />
  <img src="./img/zpd.webp" alt="ZPD" />
  <img src="./img/jdnet.webp" alt="JD Net" />
  <img src="./img/suki.webp" alt="Sukiyaki" />
  <img src="./img/yashima.webp" alt="Yashima" />
  <img src="./img/milestone.webp" alt="Milestone" />
  <img src="./img/fantask.webp" alt="Fantask" />
  <img src="./img/asiahouse.webp" alt="Asia House" />
  <img src="./img/embassy.webp" alt="Embassy of Japan in Denmark" />
  <img src="./img/langelinie.webp" alt="Langelinie Pavilionen" />
</div>

<style>
  h2 {
    text-align: center;
    margin-bottom: var(--small);
    color: var(--red);
  }

  .sponsor_logo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    row-gap: 0.5em;
    margin-bottom: var(--medium);
  }

  img {
    max-width: 50%;
  }

  .kommune {
    max-width: 25%;
  }

  .dnp {
    max-width: 40%;
  }

  .andersen {
    max-width: 45%;
  }

  @media (min-width: 1200px) {
    .sponsor_logo {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 1.5em;
    }
  }
</style>
